table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #382a71;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #382a7149;
  }

  .manage-area{
      padding: 30px 10px 0 10px;
  }

  .delete-btn{
      border: none;
      outline: none;
      padding: 10px;
      background-color: rgb(189, 20, 20);
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
  }

  @media screen and (max-width: 400px){
      table th{
          font-size: 12px;
      }

      table td{
          font-size: 12px;
      }
      .manage-area{
          padding: 0;
      }
  }