
.checkout-main-area{
    padding-top: 30px;
    padding-bottom: 60px;
}


.line-flex{
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 30px;
}
.line{
    width: 15%;
    height: 3px;
    background-color: #19103f;
}
.line-flex h3{
    margin: 0 5px;  
    text-transform: uppercase;
    color: #19103f;;
}

.checkout-info{
    background-color: #fff;
    padding: 35px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 30px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex h4{
    color: gray;
   
}
.d-flex h3{
    margin: 0;
    text-align: center;
    padding: 15px 0;
}
.border{
    border-bottom: 1px solid gray;
}
.d-flex h2{
    margin: 0;
}
.checkout-btn{
    float: right;
    background-color:#19103f;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.orderd-btn{
    float: right;
    background-color:gray;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.orderd-btn .icon{
    font-size: 20px;
    margin-right: 8px;
}

