

.nav-main-area{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex h3{
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}

.logout{
    border: none;
    outline: none;
    padding: 10px 20px;
    color:#fff;
    cursor: pointer;
    background-color: #19103f;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items .nav-link {
    text-decoration: none;
    margin-right: 35px;
    cursor: pointer;
    color: #000;
    padding-bottom: 5px;
    font-family: 'Secular One', sans-serif;
}


.login-btn{
    border: none;
    outline: none;
    background-color: #19103f;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 200;
    margin-left: 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Secular One', sans-serif;
}

.nav-bar-and-cross{
    display: none;
}

.nav-bar-and-cross li{
    list-style: none;
}

.nav-item-icon{
    cursor: pointer;
    font-size: 25px;
    color: #19103f;
}

.mobile-nav{
    flex-direction: column;
    padding: 20px;
    background-color: #000;
    
}
.mobile-nav .nav-link{
    color: #fff !important;
    margin-bottom: 10px;
}
@media screen and (max-width:768px){
    .Nav-Items{
        display: none;
    }

    .nav-bar-and-cross{
        display: block;
    }

    .login-btn {
        margin-left: 0 !important;
    }

    .nav-flex h3{
        font-size: 13px;
    }
    
}

@media screen and (min-width:768px){
    .mobile-nav{
        display: none;
    }


}